test/XmlTools.Tests/Testfiles/Parser/SchemaWithTwoPossibleRootElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="WeatherForecast" type="WeatherPrediction" />
	<xs:element name="Order" type="FoodOrder" />
	<xs:simpleType name="WeatherPrediction">
		<xs:restriction>
			<xs:enumeration value="Rainy"/>
			<xs:enumeration value="Cloudy"/>
			<xs:enumeration value="Sunny"/>
			<xs:enumeration value="Misty"/>
			<xs:enumeration value="Probability of raining meatballs"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FoodOrder">
	</xs:complexType>
</xs:schema>