test/XmlTools.Tests/Testfiles/Parser/SchemaWithExtendedComplexTypeWithSimpleContent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Commit" type="CommitHash" />
	<xs:complexType name="Hash">
		<xs:attribute name="Algorithm" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CommitHash">
		<xs:simpleContent>
			<xs:extension base="Hash">
				<xs:attribute name="AuthorEmail" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>