test/XmlTools.Tests/Testfiles/SchemaWithComplexTypeWithSimpleContentWithEnumerationAsExtension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Commit">
		<xs:complexType>
			<xs:simpleContent>
				<xs:attribute name="AuthorEmail" type="xs:string"/>
				<xs:attribute name="Algorithm" type="HashAlgorithms"/>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="HashAlgorithms">
		<xs:restriction>
			<xs:enumeration value="MD5"/>
			<xs:enumeration value="SHA1"/>
			<xs:enumeration value="SHA256"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>